<!-- Menu de opções -->
{{> menu}}

<!--Cards-->
<br><br><br>
  <h1 class="text-center pb-3">Nossos Veículos</h1>

  <div class="container mb-4 align-items-center">
    <!--Audi-->
    <div class="row"><!--INICIO DE ROW-->
      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/audi/Audi-Q3-Sportback.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Audi Q3 Sportback</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/audi/Audi-Q5-TFSI-e.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Audi Q5 TFSI</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/audi/Audi-RS-5-Sportback-Competition-Plus.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Audi RS 5 Sportback Competition Plus</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/audi/Audi-RS6-Avant.PNG" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Audi RS 6 Avant</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/audi/Audi-RS-e-Tron.PNG" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Audi RS e-Tron</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>
      <!--Chevrolet-->
      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/chevrolet/chev-cruze.branco.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Chevrolet Cruze</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/chevrolet/chev-onix-branco.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Chevrolet Ônix</h5>
          Preço da diária: R$100 <br>
          Status: Disponível  
          <p></p>
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/chevrolet/chev-s10.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Chevrolet S10</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/chevrolet/chev-silverado-branca.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Chevrolet Silverado</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/chevrolet/chev-blazer-ev-eletrico.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Chevrolet Blazer EV-e</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>
      <!--Volkseagen-->
      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/volksvagen/volks-nivus-Highline-200-TSI.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Volkswagen Nivus Highline 200 TSI</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/volksvagen/volks-novo-virtus-Exclusive.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Volkswagen Novo Virtus Exclusive</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/volksvagen/volks-Polo-gts-250-tsi.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Volkswagen Polo GTS 250 TSI</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/volksvagen/volks-T-Cross-Highline-250-TSI.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Volkswagen T-Cross Highline 250 TSI</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>

      <div class="card m-1" style="width: 16rem;">
        <img class="card-img-top" src="../public/images/volksvagen/volks-Taos-Highline-250-TSI.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Volkswagen Taos Highline 250 TSI</h5>
          Preço da diária: R$100 <br>
          Status: Disponível
        </div>
      </div>
    </div><!--FINAL DE ROW-->