<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a href="/admin/dashboard" class="navbar-brand">
            <img src="/images/logo-project.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-center">
            LocaCar
        </a>

        <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
        
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/admin/dashboard" class="nav-link">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a href="/admin/customers" class="nav-link">Clientes</a>
                </li>

                <li class="nav-item">
                    <a href="/admin/carros" class="nav-link">Veículos</a>
                </li>

                <li class="nav-item">
                    <a href="/admin/alugueis" class="nav-link">Aluguel</a>
                </li>
                
                <li class="nav-item">
                    <a href="/admin/about" class="nav-link">Sobre</a>
                </li>

                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>