<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--TAB CONFIGURATION-->
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!--CSS CUSTOM-->
    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>
<body>
    
    {{{ body }}}

    <!--BOOTSTRAP JS-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!--JAVASCRIPT CUSTOM-->
    {{#each scripts}}
        <script src="{{this}}"></script>
    {{/each}}
</body>
</html>