{{> menu}}

{{#if msg_error}}
  <div class="alert alert-danger container mt-2">
    {{msg_error}}
  </div>
{{/if}}

{{#if msg_success}}
  <div class="alert alert-success container mt-2">
    {{msg_success}}
  </div>
{{/if}}

<!--Cards-->
<main class="container pt-3">
  <h1 class="text-center pb-3">Nossos Veículos</h1>
    <div class="d-flex justify-content-end mb-3">
      <a class="btn btn-success" href="/admin/cars/add" role="button">Adicionar</a>
    </div>

    <div class="row align-items-center justify-content-center"><!--INICIO DE ROW-->

      {{#each cars}}
        {{> card-car this}}
      {{/each}}

    </div><!--FINAL DE ROW-->
</main>