<div class="container">
      <h1 class="text-center pt-2">Clientes</h1>
      <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-success">Adicionar</button>
      </div>
      <table class="table table-light table-hover table-success table-striped">
        <thead>
          <tr>
            <th scope="col-1">#</th>
            <th scope="col-2">Nome</th>
            <th scope="col-3">Sobrenome</th>
            <th scope="col-2">CPF</th>
            <th class="col-3">Ações</th>
          </tr>
        </thead>
        <tbody>
          <!--Modelo
            <tr>
              <td>1</td>
              <td>Wanderson</td>
              <td>Gomes da Costa</td>
              <td>000.000.000-00</td>
              <td>
                <button type="button" class="btn btn-warning">Editar</button>
                <button type="button" class="btn btn-danger">Deletar</button>
                <button type="button" class="btn btn-primary">Visualizar</button>
              </td>
            </tr>
          -->
        </tbody>
      </table>
      
    </div>