{{> menu}}

<main class="container pt-3">
    <div class="row align-items-center justify-content-center">
        {{> card-dashboard title = 'Carrros disponiveis' data = amount_cars_enable }}
        {{> card-dashboard title = 'Número de Clientes' data = amount_customers }}
    </div>
</main>